@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400&subset=latin,vietnamese);

html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

html{
	min-height: 100%;
}

body{
	height: 100%;
	background-color: #C3D7E3;
}

::-webkit-scrollbar {
    display: none;
}

.padding-8{
	padding: 8px !important;
}
.pad-n-top{
	padding: 0 8px 8px !important;
}
.margin-8{
	margin: 8px !important;
}

.fixed-nav-bar{
	position: fixed;
  top: 0;
	left: 0;
  z-index: 99;
  width: 100%;
}

#app-body{
	background-color: #C3D7E3;
	position: relative;
	top: 64px;
	color: #333;
}

#welcome-layout{
	background-color: #1690db;
}

#space-bar{
	margin: 8px;
	margin-top: 0;
}

.header-right{
	display: inline-block;
	float: right;
	color: rgba(0, 0, 0, 0.54);
	font-size: 13px;
}
.header-right i{
	margin-left: 8px;
	color: #1690DB;
}

.add-task-btn {
	-webkit-transform: translate3d(0px, 0px, 1px);
	-moz-transform: translate3d(0px, 0px, 1px);
	-o-transform: translate3d(0px, 0px, 1px);
	-ms-transform: translate3d(0px, 0px, 1px);
	transform: translate3d(0px, 0px, 1px);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.add-task-btn.out {
	-webkit-transform: translate3d(0px, 100px, 1px);
	-moz-transform: translate3d(0px, 100px, 1px);
	-o-transform: translate3d(0px, 100px, 1px);
	-ms-transform: translate3d(0px, 100px, 1px);
	transform: translate3d(0px, 100px, 1px);
}

.hidden-upload{
	width: 0;
	height: 0;
	visibility: hidden;
}
.app-bg{
	background-color: #1690DB;
}
.app-icon{
	color: #1690DB !important;
}

.fro-item-box{
	margin: 4px 8px;
}

.fro-action{
	min-width: 16% !important;
	width: 16% !important;
}

.date-light{
	font-size: 12px;
	color: #666;
}
.stat-box{
	display: inline-block;
	margin-right: 8px;
	min-width: 48px;
	vertical-align: middle;
}
.tab-icon{
	color: #1A3140 !important;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}
.slidetab-ficon{
	font-size: 16px !important;
}
.float-bottom{
	position: fixed;
	bottom: 8px;
	width: 96%;
	z-index: 90;
	min-height: 64px;
	margin-left: 8px;
}
/*.material-icons.btn-nopad{
	padding: 0 !important;
}*/

/* Vertical Scroll Setup */
.vscroll-holder{
	overflow-y: scroll;
	width: 100%;
}
.vscroll-container{
	padding-bottom: 96px;
}
.nav-tabs{
	color: #142E3D !important; /* 1D3747 072A40 */
	text-shadow: 1px 0px 0px #9FB9C9;
	opacity: 0.8;
}
.nav-tabs.tab-active{
	color: #fff !important;
	opacity: 1;
	/*border-bottom: 2px solid #fff;*/
  /*padding-bottom: 6px;*/
}

.frolic-stats{
	display: inline-block !important;
	min-width: 42px;
	vertical-align: middle;
	/*padding-left: 8px;*/
}
.frolic-right{
	float: right;
	margin-top: 4px !important;
}

#welcome-screen{
	padding: 0;
	text-align: center;
	color: #fff;
}
#welcome-logo{
	position: relative;
	width: 256px;
}
#welcome-inset{
	position: absolute;
	top: 94px;
	left: 36px;
	width: 90%;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(13, 57, 84, 0.4);
}
#welcome-title{
	font-weight: 600;
	font-size: 40px;
}
#welcome-tagline{
	font-size: 14px;
}

#login-btn{
	position: absolute;
	top: 16px;
	right: 0;
}
#login-div{
	position: absolute;
	top: 30%;
	padding: 16px;
}
.snav-icon{
	color: #1690DB !important;
	font-size: 18px !important;
	width: 18px !important;
	height: 18px !important;
	margin-top: 14px !important;
}

#sidenav-header::after{
	content: "";
	background: url('img/fravatar.jpg');
	background-repeat: "no-repeat";
	background-size: "100% auto";
}

.procard-litem{
	width: 49.2%;
	display: inline-block;
}

/* FroMini thumb list Container */
.fromini-thumbs{
	height: 100%;
	padding: 8px;
	padding-right: 0;
}

.fromini{
	display: inline-block;
	width: 48%;
}

.mini-header{
	display: inline-block !important;
}
.minifro-action{
	display: inline-block !important;
	margin: 0;
	margin-right: 0 !important;
}
.mini-avatar-space{
	width: 48%;
	white-space: nowrap;
	overflow: hidden;
}
.mini-stat-right{
	float: right;
}

.cover-fixed{
	position: fixed;
	top: 64px;
	left: 0;
	width: 100%;
	z-index: 90;
}
.cover-views{
	position: relative;
	top: 248px;
	left: 0;
	background-color: #c3d7e3;
}
.cover-views-notabs{
	position: relative;
	top: 196px;
	left: 0;
	background-color: #c3d7e3;
}
.fro-views{
	background-color: #c3d7e3;
}
.pro-circle-btn{
	border-radius: 27px !important;
}
.circle-btn{
	border-radius: 18px !important;
	line-height: 28px !important;
	height: 28px !important;
	border: 1px solid #66a8cc !important;
	margin: 0 16px !important;
	width: 96px !important;
}
.btn-shadow{
	box-shadow: 6px 6px 16px rgba(0, 0, 0, 0.4);
}
.follow-raised{
	/*border-radius: 18px !important;*/
	/*line-height: 28px !important;*/
	/*height: 28px !important;*/
}
.pro-stats{
	display: inline-block;
	margin: 0 16px;
}
.demo-temp{
	height: 400px;
	widht: 100%;
}
.screen-stats{
	display: inline-block;
	font-size: 11px;
	color: #666;
	width: 28%;
}
.screen-stats > i{
	color: #48A1D9;
}

.notify-unread{
	background-color: "#C3D7E3";
}
.notify-read{}
