@import url(http://fonts.googleapis.com/css?family=Roboto:500,400italic,300,700,400&subset=latin,vietnamese);

html, body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

.fixed-nav-bar{
	position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  width: 100%;
}

#app-body{
	background-color: #C3D7E3;
	position: relative;
	top: 64px;
	color: #333;
}

#space-bar{
	margin: 8px;
	margin-top: 0;
}

.header-right{
	display: inline-block;
	float: right;
	color: rgba(0, 0, 0, 0.54);
	font-size: 13px;
}
.header-right i{
	margin-left: 8px;
	color: #1690DB;
}

.add-task-btn {
	-webkit-transform: translate3d(0px, 0px, 1px);
	-moz-transform: translate3d(0px, 0px, 1px);
	-o-transform: translate3d(0px, 0px, 1px);
	-ms-transform: translate3d(0px, 0px, 1px);
	transform: translate3d(0px, 0px, 1px);
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.add-task-btn.out {
	-webkit-transform: translate3d(0px, 100px, 1px);
	-moz-transform: translate3d(0px, 100px, 1px);
	-o-transform: translate3d(0px, 100px, 1px);
	-ms-transform: translate3d(0px, 100px, 1px);
	transform: translate3d(0px, 100px, 1px);
}

.hidden-upload{
	width: 0;
	height: 0;
	visibility: hidden;
}

.app-icon{
	color: #1690DB !important;
}

.fro-item-box{
	margin: 8px;
}

.fro-action{
	min-width: 24% !important;
	width: 24% !important;
}

.date-light{
	font-size: 12px;
	color: #666;
}
.stat-box{
	display: inline-block;
	margin-right: 8px;
	min-width: 48px;
}
