<template name="screens">
  <div class="cover-fixed">
    <div class="padding-8 app-bg">
      {{> React component=ScreensPanel}}
    </div>
    <div>
      {{> React component=SlideTabs index=slideIndex tabs=slideTabs}}
    </div>
  </div>
  {{#if Template.subscriptionsReady}}
    <div class="cover-views">
      {{> React component=SwipeSlides views=slideViews index=slideIndex}}
    </div>
  {{else}}
    <div class="loading-head">
      {{> React component=Loading}}
    </div>
  {{/if}}
</template>
