<template name="screen">
  <div>
    {{> React component=ProfileCover cover=screen mediaURL=screenFS.url}}
  </div>
  <div id="fromini-thumbs">
    <div class="fromini">
      {{> React component=FroMini frolic=frolic}}
    </div>
    <div class="fromini">
      {{> React component=FroMini frolic=frolic}}
    </div>
    <div class="fromini">
      {{> React component=FroMini frolic=frolic}}
    </div>
    <div class="fromini">
      {{> React component=FroMini frolic=frolic}}
    </div>
  </div>
</template>
