<template name="appLayout">

  {{#if Template.subscriptionsReady}}
    <nav class="fixed-nav-bar">
      {{> React component=AppHead appTitle=title navIcons=params.navicons sideNav=sideNav notify=notifyCount}}
    </nav>
    <div id="app-body">
      {{>Template.dynamic template=content data=params}}
    </div>
    <div>
      {{> React component=CircleMenu circles=circles open=openCircleMenu}}
    </div>
    <div>
      {{> React component=CircleNew open=openCircleNew}}
    </div>
    <div>
      {{> React component=FroDialog open=openFroDialog message=froMessage}}
    </div>
    <div>
      {{> React component=FroSpinner open=openFroSpinner message=spinMessage}}
    </div>
  {{else}}
    <div class="loading-head">
      {{> React component=Loading}}
    </div>
  {{/if}}
</template>

<!-- <div>{{> React component=AddFloatBtn }}</div> -->
<!-- <div><input type="file" name="float_add" id="float_add" accept="video/*" class="hidden-upload" /></div> -->
<!-- <div>
  {{> React component=AddVideoModal open=showVideoModal vidsrc=vidsrc snaps=vidsnaps }}
</div> -->
<!-- <div>
  {{> React component=OptsModal open=optsOpen}}
</div> -->
