<template name="appLayout">
  <nav class="fixed-nav-bar">
    {{> React component=AppHead appTitle=title navIcons=params.navicons sideNav=sideNav notify=notifyCount}}
  </nav>
  <div id="app-body">
    {{>Template.dynamic template=content data=params}}
  </div>
</template>

<!-- <div>{{> React component=AddFloatBtn }}</div> -->
<!-- <div><input type="file" name="float_add" id="float_add" accept="video/*" class="hidden-upload" /></div> -->
<!-- <div>
  {{> React component=AddVideoModal open=showVideoModal vidsrc=vidsrc snaps=vidsnaps }}
</div> -->
<!-- <div>
  {{> React component=OptsModal open=optsOpen}}
</div> -->
