<template name="profile">
  <div class="cover-fixed">
    {{#if Template.subscriptionsReady}}
      <div>
        {{> React component=ProHead user=user}}
      </div>
    {{else}}
      <div>
        {{> React component=Loading}}
      </div>
    {{/if}}
    <div>
      {{> React component=SlideTabs index=slideIndex tabs=slideTabs}}
    </div>
  </div>
  <div class="cover-views">
    {{> React component=SwipeSlides views=slideViews index=slideIndex}}
  </div>
</template>

<!-- {{#if Template.subscriptionsReady}}
  <div class="cover-views">
    {{> React component=SwipeSlides views=slideViews index=slideIndex}}
  </div>
{{else}}
  <div class="cover-views">
    {{> React component=Loading}}
  </div>
{{/if}} -->
