<template name="fro">
  {{#if Template.subscriptionsReady}}
    <div class="cover-fixed">
      <div>
        {{> React component=FroScreen src=froFS.fro thumb=froFS.thumb play=isPlaying}}
      </div>
      <div>
        {{> React component=SlideTabs index=slideIndex tabs=froTabs}}
      </div>
    </div>
    <div class="cover-views">
      {{> React component=SwipeSlides views=froViews index=slideIndex}}
    </div>
    <div class="float-bottom" style="display: {{newComm}}">
      {{> React component=NewComment}}
    </div>
  {{else}}
    <div class="loading-head">
      {{> React component=Loading}}
    </div>
  {{/if}}
</template>

<!-- {{> React component=Swipeables index=slideIndex}} -->
